.table {
    width: 100%;
    margin-bottom: 1rem;
    border-color: #dee2e6;
    border-collapse: collapse;
}
.text-center {
    text-align: center;
}
th, td {
    border-bottom: 1px solid #dee2e6;
}
